@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

@theme {
  --font-young-serif-regular:'Young Serif', 'serif'
  --font-outfit: "Outfit", sans-serif;
}

body{
  font-family: "Outfit", sans-serif;
}
h1,h2{
    font-family: "Young Serif", serif;
}
.attribution { font-size: 11px; text-align: center; 
background-color: #f3e5d8;}
    .attribution a { color: hsl(228, 45%, 44%); }